*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

header{
position:fixed;
width:100%;
top:0;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
padding:15px 60px;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:26px;
font-weight:bold;
}

.logo span{
color:#38bdf8;
}

nav ul{
list-style:none;
display:flex;
gap:30px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;
}

nav ul li a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding-top:80px;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.hero-container{
display:flex;
align-items:center;
gap:100px;
flex-wrap:wrap;
}

.hero-text h1{
font-size:45px;
color:#94a3b8;
}

.hero-text h2{
font-size:55px;
color:#38bdf8;
margin:10px 0;
}

.hero-text p{
font-size:20px;
margin-bottom:20px;
}

.btn{
display:inline-block;
padding:12px 30px;
background:#38bdf8;
color:black;
border-radius:30px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:scale(1.1);
box-shadow:0 0 20px #38bdf8;
}

/* FOTO PROFIL */

.hero-img img{
width:260px;
height:260px;
border-radius:50%;
object-fit:cover;
border:5px solid #38bdf8;
box-shadow:0 0 40px rgba(56,189,248,0.6);
transition:0.4s;
}

.hero-img img:hover{
transform:scale(1.05);
}

/* SECTION */

section{
padding:100px 80px;
text-align:center;
}

section h2{
font-size:40px;
margin-bottom:40px;
color:#38bdf8;
}

/* ABOUT */

.about p{
max-width:700px;
margin:auto;
line-height:1.7;
color:#cbd5f5;
}

/* SKILL */

.skill-container{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px 40px;
border-radius:12px;
font-weight:bold;
transition:0.3s;
border:1px solid transparent;
}

.card:hover{
transform:translateY(-10px);
border:1px solid #38bdf8;
box-shadow:0 0 15px #38bdf8;
}

/* PROJECT */

.project-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
}

.project-card{
background:#1e293b;
padding:25px;
width:260px;
border-radius:15px;
transition:0.4s;
}

.project-card h3{
color:#38bdf8;
margin-bottom:10px;
}

.project-card p{
color:#cbd5f5;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px rgba(56,189,248,0.6);
}

/* CONTACT */

.contact{
background:#020617;
}

.contact p{
margin:10px;
font-size:18px;
color:#cbd5f5;
}

/* FOOTER */

footer{
background:black;
padding:20px;
text-align:center;
color:#94a3b8;
}